.loading {
    cursor: pointer;
    font-size: 10px;
    color: transparent;
    font-weight: 100;
    width: 100px;
    height: 100px;
    line-height: 5.4em;
    text-align: center;
    position: absolute;
    /* left: 50%;
                      top: 50%; */
    /* margin-left: -1.5em;
                      margin-top: -1.5em; */
    border-radius: 100%;
    border: 2px solid #00d8ff;
    /* box-shadow: 0 0 0 0 #17262b, 0 0 2px 3px #00d8ff, 0 0 4px 5px #17262b, 0 0 1px 15px #17262b, 0 0 15px 5px #00d8ff, 0 0 15px 5px #17262b; */
    animation: pulse 1.4s linear infinite;
    transition: all 0.3s ease;
}

.loading:before {
    box-sizing: border-box;
    content: "";
    border-radius: 100%;
    animation: rotate 0.45s linear infinite;
    transition: opacity 1s ease 0.6s, border 0.4s ease 0s, width 0.4s ease 0.2s, height 0.4s ease 0.2s, margin 0.4s ease 0.2s;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4.65em;
    height: 4.65em;
    margin-left: -2.325em;
    margin-top: -2.325em;
    border-top: 1px solid #3bff00;
    border-bottom: 1px solid #ff3f00;
}

.loading.danger {
    border-color: #ff3f00;
    background-color: #ff3f00;
    box-shadow: 0 0 10px 2px #ff3f00;
    animation: none;
}

.loading.danger:before {
    border-color: #ff3f00;
    opacity: 0;
    width: 21em;
    height: 21em;
    margin-left: -10.5em;
    margin-top: -10.5em;
}

.loading.ok {
    border-color: #3bff00;
    background-color: #3bff00;
    box-shadow: 0 0 10px 0px #3bff00;
    animation: none;
}

.loading.ok:before {
    border-color: #3bff00;
    opacity: 0;
    width: 4.8em;
    height: 4.8em;
    margin-left: -2.4em;
    margin-top: -2.4em;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #ff3f00, 0 0 2px 3px #00d8ff, 0 0 1px 15px #3bff00, 0 0 15px 5px #00d8ff;
    }

    49.9% {
        box-shadow: 0 0 1px 15px #3bff00, 0 0 15px 5px #00d8ff, 0 0 1px 64px #ff3f00, 0 0 60px 5px #00d8ff;
    }

    50% {
        box-shadow: 0 0 0 0 #ff3f00, 0 0 2px 3px #00d8ff, 0 0 1px 15px #3bff00, 0 0 15px 5px #00d8ff;
    }

    100% {
        /* box-shadow: 0 0 1px 15px #3bff00, 0 0 15px 5px #00d8ff, 0 0 1px 64px ##ff3f00, 0 0 60px 5px #00d8ff; */
    }
}